//colors
$primary: #3a4980;
$secondary: #fff;
$gray: #667085;
$secondary-gray: #98a2b3;
$bright-grey: #344054;
$quill-grey: #d0d5dd;
$card-bg: #f7f5f7;
$filter-color: #140342;

//button paddings
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.219rem;
